
@{
    ViewData["Title"] = "Users";
    ViewData["Section"] = "User Management";
}

@section Scripts{
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="assets/js/custom/apps/user-management/users/list/table.js"></script>
    <script src="~/js/users.js" asp-append-version="true" type="text/javascript"></script>
}
<h5>Users</h5>

<!--begin::Card-->
<div class="card" ng-controller="users" ng-init="init()" ng-cloak>

    <!--begin::Card body-->
    <div class="card-body  mt-6 pt-0">

        <table class="table table-bordered table-striped table-hover table-checkable mx-auto align-middle table-row-dashed fs-6 gy-5" datatable="ng" dt-options="dtOptions" id="kt_table_users" ng-cloak>
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" ng-repeat="u in users track by $index">
                    <td> {{u.id}} </td>
                    <td class="d-flex align-items-center">
                        <!--begin:: Avatar -->
                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                            <a href="apps/user-management/users/view.html">
                                <div class="symbol-label">
                                    <img src="assets/media/avatars/150-1.jpg" alt="{{u.username}}" class="w-100" />
                                </div>
                            </a>
                        </div>
                        <!--end::Avatar-->
                        <!--begin::User details-->
                        <div class="d-flex flex-column">
                            <a href="apps/user-management/users/view.html" class="text-gray-800 text-hover-primary mb-1"> {{u.username}}</a>
                            <span>{{u.email}}</span>
                        </div>
                        <!--begin::User details-->
                    </td>
                    <td>{{u.name}}</td>
                    <td>{{u.surname}}</td>
                    <td> {{u.createdAt | date: dateFormat }} </td>
                    <th>
                        @*<a href="javascript:;" class="" ng-click="more(u.id)"><i class="fas fa-plus"> </i> </a>*@
                        <a href="javascript:;" class="" ng-click="edit(u.id)"><i class="fas fa-edit"> </i> </a>
                        <a href="javascript:;" class="" ng-click="delete(u.id)"><i class="fas fa-trash"> </i> </a>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
    <!--end::Card body-->


    <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="mt-2" id="add_request_form" enctype="multipart/form-data">
                        @*<label>Add Test Form </label>*@

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Name </label>
                                <input class="form-control" name="Name" placeholder="Name" type="text" ng-model="requestInput.name" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Surname </label>
                                <input class="form-control" name="Surname" placeholder="Surname" type="text" ng-model="requestInput.surname" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Username </label>
                                <input class="form-control" placeholder="Username" type="text" ng-model="requestInput.username" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Email </label>
                                <input class="form-control" name="Email" placeholder="Email" type="text" ng-model="requestInput.email" />
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @*<button type="button" ng-click="addProvider()" class="btn btn-secondary btn_modal"> Submit </button>*@
                    <button type="button" ng-click="isEdit?action(3): action(1)" class="btn btn-secondary btn_modal"> Submit </button>
                    <button type="button" class="btn btn-secondary btn_modal" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
