
@{
    ViewData["Title"] = "Home Page";
    ViewData["Section"] = "Home";
}

@section Scripts{

    <script src="~/js/home.js" asp-append-version="true" type="text/javascript"></script>
}

<!--begin::Login sessions-->
<div class="card mb-5 mb-xl-10" ng-controller="home" ng-init="init()">
    <!--begin::Card header-->
    <div class="card-header">
        <!--begin::Heading-->
        <div class="card-title">
            <h3>Login Sessions</h3>
        </div>
        <!--end::Heading-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <div class="my-1 me-4">
                <!--begin::Select-->
               @* <select class="form-select form-select-sm form-select-solid w-125px" data-control="select2" data-placeholder="Select Hours" data-hide-search="true">
                    <option value="1" selected="selected">1 Hours</option>
                    <option value="2">6 Hours</option>
                    <option value="3">12 Hours</option>
                    <option value="4">24 Hours</option>
                </select>*@
                <!--end::Select-->
            </div>
           @* <a href="#" class="btn btn-sm btn-primary my-1">View All</a>*@
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body p-0">
        <!--begin::Table wrapper-->
        <div class="table-responsive">
            <!--begin::Table-->

            <table class="table table-bordered table-striped table-hover table-checkable mx-auto align-middle table-row-dashed fs-6 gy-5" datatable="ng" dt-options="dtOptions" id="kt_table_users" ng-cloak>
                <thead>
                    <tr class="text-center">
                        <th class="min-w-250px">Location</th>
                        <th class="min-w-100px">Status</th>
                        <th class="min-w-150px">Device</th>
                        <th class="min-w-150px">IP Address</th>
                        <th class="min-w-150px">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="s in sessions track by $index" ng-cloak>
                        <td> {{s.location}} </td>
                        <td ng-if="s.status<400">
                            <span class="badge badge-light-success fs-7 fw-bolder">OK</span>
                            
                        </td>  
                        <td ng-if="s.status==400"> 
                            <span class="badge badge-light-danger fs-7 fw-bolder">ERR</span>
                        </td>
                        <th> {{s.device}}</th>
                        <th> {{s.ipAddress}}</th>
                        <td> {{s.createdAt | date: dateFormat }} </td>
                    </tr>
                </tbody>
            </table>

            @*<table class="table table-flush align-middle table-row-bordered table-row-solid gy-4 gs-9">
                <thead class="border-gray-200 fs-5 fw-bold bg-lighten">
                <tbody class="fw-6 fw-bold text-gray-600">*@

          
            <!--end::Table-->
        </div>
        <!--end::Table wrapper-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Login sessions-->